<?xml version="1.0"?>
<config>
    <modules>
        <RocketWeb_CustomOptionValidator>
            <version>1.0.0</version>
        </RocketWeb_CustomOptionValidator>
    </modules>
    <global>
    	<helpers>
    		<rocketweb_cov>
    			<class>RocketWeb_CustomOptionValidator_Helper</class>
    		</rocketweb_cov>
    	</helpers>
    	<models>
    		<rocketweb_cov>
    			<class>RocketWeb_CustomOptionValidator_Model</class>
    		</rocketweb_cov>
    	</models>
    	<blocks>
    		<rocketweb_cov>
    			<class>RocketWeb_CustomOptionValidator_Block</class>
    		</rocketweb_cov>
    		<adminhtml>
    			<rewrite>
    				<catalog_product_edit_tab_options_option>RocketWeb_CustomOptionValidator_Block_Rewrite_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
    			</rewrite>
    		</adminhtml>
    	</blocks>
    	<resources>
    		<rocketweb_cov_setup>
    			<setup>
    				<module>RocketWeb_CustomOptionValidator</module>
    			</setup>
    			<connection>
                    <use>core_setup</use>
                </connection>
    		</rocketweb_cov_setup>
    	</resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <rocketweb_cov>
                    <file>rocketweb_cov.xml</file>
                </rocketweb_cov>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
    	<layout>
    		<updates>
    			<rocketweb_cov>
    				<file>rocketweb_cov.xml</file>
    			</rocketweb_cov>
    		</updates>
    	</layout>
    </adminhtml>
</config>