<?xml version="1.0"?>
 
<config>
    <modules>
        <Aumd_Morecc>
            <version>0.1.0</version>
        </Aumd_Morecc>
    </modules>
    <frontend>
        <routers>
            <morecc>
                <use>standard</use>
                <args>
                    <module>Aumd_Morecc</module>
                    <frontName>morecc</frontName>
                </args>
            </morecc>
        </routers>
        <layout>
            <updates>
                <morecc>
                    <file>morecc.xml</file>
                </morecc>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<morecc>
				<use>admin</use>
				<args>
					<module>Aumd_Morecc</module>
					<frontName>morecc</frontName>
				</args>
			</morecc>
        </routers>
    </admin>
    <adminhtml>
		<!--<menu>
			<morecc module="morecc">
				<title>Morecc</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="morecc">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>morecc/adminhtml_morecc</action>
					</items>
				</children>
			</morecc>
		</menu>-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Aumd_Morecc>
							<title>Morecc Module</title>
							<sort_order>10</sort_order>
						</Aumd_Morecc>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<morecc>
					<file>morecc.xml</file>
				</morecc>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <morecc>
                <class>Aumd_Morecc_Model</class>
                <resourceModel>morecc_mysql4</resourceModel>
            </morecc>
            <morecc_mysql4>
                <class>Aumd_Morecc_Model_Mysql4</class>
                <entities>
                    <morecc>
                        <table>morecc</table>
                    </morecc>
                </entities>
            </morecc_mysql4>
        </models>
        <resources>
            <morecc_setup>
                <setup>
                    <module>Aumd_Morecc</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </morecc_setup>
            <morecc_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </morecc_write>
            <morecc_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </morecc_read>
        </resources>
        <blocks>
            <morecc>
                <class>Aumd_Morecc_Block</class>
            </morecc>
        </blocks>
        <helpers>
            <morecc>
                <class>Aumd_Morecc_Helper</class>
            </morecc>
        </helpers>
    </global>
</config>