/*---Common and Standard->START*/
body {margin:0px; padding:0px;}
.pagewidth {margin:0px; padding:0px; width:100%; }
.pageminwidth{ width:100%; margin:0px; }
.pagelayout{margin:0px auto; padding:0px; width:100%;}

.estore-clear { clear: both; }
.estore-wrap { width: 100%; }
.estore-wrapcen { width: 100%; text-align:center;}

.estore-background {
	padding: 0px !important;
	margin: 0px auto !important;
	width: 100%;
	background:url(images/pattern.jpg) repeat center top;
}
.estore-content {
	width:964px !important;
	padding: 0px;
	text-align: center !important;
	margin-top: 0px;
/*	background-color:#FFF !important;*/
	margin-right: auto!important;
	margin-bottom: 0px;
	margin-left: auto!important;
	background:url(images/content_bg.png) repeat-y center top;
}
/*---Common and Standard---<<END*/
#estore-searchhead {
	width: 220px;
	height: 41px;
	background-image: url(images/estore_store_search_heading.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	float: left;
}
#estore-search {
	color: #939393;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 220px;
	padding: 0px;
	background-image: url(images/search_bg.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 129px;
	background-position: left 41px;
	margin: 0px;
}
#estore-search #estore-input {
	float: left;
	width: 152px;
	height: 24px;
	padding-left: 0px;
	position: relative;
	margin: 0px;
	padding-top: 0px;
	left: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	top: 25px;
}
#estore-search #estore-input .v4sbox {
	color: #7a7a7a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 165px;
	height: 24px;
	font-weight: normal;
	text-decoration: none;
	margin: 0px;
	line-height: 24px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	background-color: #b1b1b1;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #b1b1b1;
	border-right-color: #b1b1b1;
	border-bottom-color: #b1b1b1;
	border-left-color: #b1b1b1;
}
#estore-search #estore-submit {
	float: right;
	width: 58px;
	height: 24px;
	right: 14px;
	position: relative;
	top: 35px;
	margin: 0px;
}
#estore-search #estore-title {
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	padding-left: 0px;
	margin-left: 0px;
	top: 96px;
	width: 160px;
	position: relative;
	vertical-align: text-top;
	display: inline;
	left: 19px;
}
#estore-search #estore-titlem {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	float: left;
	top: 0px;
	width: 80px;
	height: 20px;
	vertical-align: text-top;
	display: inline;
	position: absolute;
	left: 0px;
}
/*---Left Column->START*/
#estore-leftpanel{width:209px; float:left; margin:-10px 0px 0px 26px !important; padding:0px 0px 0px 61px !important;}
#LeftPanel {
	width: 209px!important;
	text-align: left;
	vertical-align: top !important;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	
}
#LeftPanel * { padding: 0px; margin: 0px 0px 0px 0px; }
#LeftPanel img { border: 0px; }
#LeftPanel .ttl { display: none !important; }
#LeftPanel .cnt { display: none !important; }
#LeftPanel .all_cats { display: none !important; }
#LeftPanel .link { display: none !important; }
#LeftPanel .v4acpcont { display: none !important; }

#estore-cathead {
	width: 209px;
	height: 34px;
	background-image: url(images/cat_head.png);
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
	padding: 0px;
	margin: 0px;
}
#estore-catbot {
	width: 209px;
	height: 4px;
	background-image: url(images/cat_bottom.png);
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
	padding: 0px;
	margin: 0px 0px 10px 0px;
}

#estore-categories {
	width:209px; margin:0px; padding:0px; float:left; background:url(images/cat_center_bg.png) repeat-y center top;}
#estore-categories ul.lev1 {
	list-style-type: none;
	padding: 0px;
	width: 209px;
	margin-top: 3px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#estore-categories ul.lev1 li {
	border-bottom-width: 0px;
	border-bottom-style: none;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}
#estore-categories ul.lev1 li.estore-lastitem { margin: 0px; }
#estore-categories ul.lev1 li a {
	color: #828282;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: inherit;
	text-decoration: none;
	display: block;
	height: 33px;
	line-height: 32px;
	background-image: url(images/first_level.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 0px;
	text-indent:24px;
	margin-left: 0px;
}
#estore-categories ul.lev1 li span {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	height: 33px;
	background-image: url(images/first_level_hover.png);
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 32px;
	padding-left: 25px;
	margin-left: 0px;
}
#estore-categories ul.lev1 li a:hover {
	background:url(images/first_level_hover.png) no-repeat center top; color:#FFF;
}
#estore-categories ul.lev2 {
	list-style-type: none;
	width: 209px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	color:#828282;
}
#estore-categories ul.lev2 li {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}
#estore-categories ul.lev2 li a {
	color: #828282;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	display: block;
	height: 24px;
	line-height: 22px;
	background-image: url(images/leve2.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 0px;
	text-indent:30px;
	margin-left: 0px;
}
#estore-categories ul.lev2 li a:hover {
	background:url(images/leve2_hover.png) no-repeat center top; color:#fff;
}
#estore-categories ul.lev2 li span {
	color: #828282;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	height: 24px;
	background-image: url(images/leve2_hover.png);
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 24px;
	padding-left: 30px;
	margin-left: 0px;
}

#estore-categories ul.lev3 {
	list-style-type: none;
	width: 209px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	color:#fff;
}
#estore-categories ul.lev3 li {
	background:url(images/leve3_bg.png);
	background-position: left top;
	background-repeat: no-repeat;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}
#estore-categories ul.lev3 li a {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	display: block;
	height: 24px;
	line-height: 22px;
	background-image: url(images/leve2.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 0px;
	text-indent:30px;
	margin-left: 0px;
}
#estore-categories ul.lev3 li a:hover {
	background:url(images/leve2_hover.png) no-repeat center top; color:#fff;
}
#estore-categories ul.lev3 li span {
	color: #5e5e5e;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	height: 25px;
	background-image: url(images/leve2_hover.png);
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 24px;
	padding-left: 35px;
	margin-left: 0px;
}


/*---Left Column---<<END*/

/*---Right Column->START*/
td#CentralArea div.v4stabl{ width:722px; margin:0px 0px 0px -65px; padding:5px 5px; border:0; font-size:11px; color:#000; display:none;}
td#CentralArea div.v4stabl a{ color:#000; display:none;}

td#CentralArea table.r3{ width:722px; margin:-10px 0 0px -1px; padding:0px 0px 0px 0px; border:0; background:url(images/r3_top.png) left top no-repeat; height:28px; }
td#CentralArea td.r3_t, .r3_t b, .r3_t i, .r3_bl b, .r3_bl i{ margin:0; padding:0; border:0; background:none;}
td#CentralArea td.r3_c{ margin:0; padding:0; border:0;}
td#CentralArea div.r3_cm, .bp, .tp{ margin:0; padding:0; border:0;}


td#CentralArea div.fpcc{ margin:0 0 10px 0;  padding:0 0px 11px 10px;  border:0; display:block; height:1px; }
td#CentralArea div.fpcc span.keywordClass{ background-color:transparent; color:#818181; }
td#CentralArea div.fpcc .matchClass, .countClass{ color:#818181; }
td#CentralArea div.fpcc .countClass{ color:#818181; font-size:14px; font-weight:bold;}

td#CentralArea .ctrlbr{ margin:-1px 0 0 0; padding:2px 10px; border:0; background:url(images/grid_bg.jpg) repeat-x center top;}
td#CentralArea span.pdmt {display:block; float:left; padding-right:20px}
span.pdmt .label {font:12px Arial; color:#fff; display:block; float:left; padding:3px 0 0 0;}
td#CentralArea .ctrlbr span.pdmt .cur {background:url(images/gridSelects.gif) no-repeat 0 -35px; color:#fff; font:12px/20px Arial; display:block; float:left; height:21px; width:163px; margin-top:0px; padding-left:6px;}
td#CentralArea .ctrlbr span.pdmt:first-child .cur {background-position:0 0;width:134px}
td#CentralArea .ctrlbr span.pdmt .cur  img {display:none;}

td#CentralArea div.rs_box{ margin:0; padding:0; border-width:0 1px 0px 1px; border-style:solid; border-color:#d4d4d4; clear:both;  width:720px; background-color:#FFF;}
td#CentralArea div.rs_box span.pdmt .label{ color:#fff; font-size:11px; font-weight:bold;}
td#CentralArea div.rs_box span.pdmt .cur{ color:#fff; font-size:11px; font-weight:lighter;}

td#CentralArea div.rs_box .cmpBr{ margin:0; padding:0; border:0;/* background-color:#000;*/ color:#fff; background:url(images/black_bg.jpg) repeat-x center top; height:23px;}
td#CentralArea div.rs_box .cmpBr a{ color:#fff;}

td#CentralArea td.r3_bl{ margin:0; padding:0; border:0; background:url(images/r3_bottom.png) left bottom no-repeat; height:10px;}

td#CentralArea div.itemseparator{ margin:0; padding:0px 0; border:0;}

#CentralArea td.gallery {/*	background-color: #FFFFFF;*/ color:#000; width:220px; height:326px;}

#CentralArea td.gallery table.gallery{/*	background-color: #FFFFFF;*/ background-image: url(images/gallery_bg.jpg); background-position: left bottom; background-repeat: no-repeat;	color:#000; width:220px; height:326px;}


td#CentralArea table.gallery td.picture div.image{margin:0 auto; padding:0px; border:0; vertical-align:middle;}
td#CentralArea .grid td.left{ margin:0; padding:0; border:0;}

td#CentralArea div.rs-pview{ margin:0; padding:0 0 0 8px; border:0;}

td#CentralArea div.dynpg{ margin:0; padding:0px 0 0 0; border:0;}
td#CentralArea div.dynpg table.pgbc{ background-color:#4d4d4d; color:#fff; font-weight:normal; font-size:11px; margin:0px; padding:0}
td#CentralArea div.dynpg table.pgbc a{ color:#fff;}
td#CentralArea div.dynpg span.pipe{ color:#fff;}

table.gallery td.camera{ margin:0; padding:0; border:0; vertical-align:middle;}
table.gallery td.picture{ margin:0; padding:0; border:0;}
table.gallery img{ margin:0; padding:0; border:0;}
td#CentralArea table.gallery td.picture div.image img{ margin:0; padding:15px 0 0 0; border:0; vertical-align:middle;}
table.gallery .mi{ min-height:10px; margin-top:5px; margin-bottom:0px; padding-top:0px;border:0; text-align:left; height:20px;}
td#CentralArea .grid{ margin:10px 0 0 0; padding:0; border:0;}

table.gallery div.subtitle { color:#898989; display:none !important;}
/* CentralArea */
/* TopPromoArea */

table#TopPromoArea{ margin:0px 0px 0px 0px; padding:0px 0 0 0px; border:0; width:805px;}

table#TopPromoArea td.v4topleft{ margin:0; padding:0; border:0; float:left;}
table#TopPromoArea td.v4topright{ margin:0; padding:0; border:0; float:right;}

table#TopPromoArea table.v4acpcont{ margin:0px 0px 0px 3px; padding:0; border:0; width:400px;}
table#TopPromoArea td.v4topright table.v4acpcont{ margin-left:3px;}
table#TopPromoArea table.v4acpcont table.v4acp{ margin:0; padding: 0px; border:0; background:url(images/promo_head_bg.png) left top no-repeat; width:400px; height:31px; line-height:31px;}
table#TopPromoArea table.v4acpcont table.v4acp td.v4title{ margin:0; padding:0 10px; border:0; background:none;}
table#TopPromoArea table.v4acpcont table.v4acp td.v4title font, #LeftPanel table.v4acp tr.v4acp_head td.v4title font{ font-family:Arial; font-size:13px; font-weight:bold; color:#fff;}
table#TopPromoArea table.v4acpcont table.v4acp td.v4vspacer, table#TopPromoArea table.v4acpcont table.v4acp td.v4baccent{ margin:0; padding:0; border:0; background:url(images/promo_mid_bg.gif) left top repeat-y; height:1px; }

table#TopPromoArea td.v4topleft .v4nfc, table#TopPromoArea td.v4topright .v4nfc{ margin:0; padding:0; border:0; height:auto; background:url(images/promo_mid_bg.png) left top repeat-y;}
table#TopPromoArea table.v4acpcont td.v4mid{ margin:0px 0px 0px 0px; padding:10px 0px; border:0; background:url(images/promo_head_bg_bottom.png) left bottom no-repeat; height:10px;}
table#TopPromoArea table.v4acpcont td.v4mid div.fs2-fs, table#TopPromoArea table.v4acpcont td.v4mid table.fs2-fs{ margin:0 5px; padding:0; border:0;}
table#TopPromoArea table.v4acpcont td.v4mid td.fs2-db{ border-left:1px solid #bcbcbc;}

table#TopPromoArea div.fs2-prel, div.fs2-cntr{ /*width:274px!important;*/}

table#TopPromoArea table.v4midBox{ border:0; background:url(images/promo_mid_bg.gif) left top repeat-y;}

/* TopPromoArea */

/*---Footer->START*/
#container_main{margin:0px; padding:0px; float:left; width:100%; background:url(images/top_black_bg.jpg) no-repeat center top;}
#container{margin:0px auto; padding:0px; width:964px;}
#header{margin:0px 0px 0px 0px; padding:0px; width:964px; float:left; height:220px; background:url(images/header_bg.jpg) no-repeat center top;}
#logo{margin:0px 0px 0px 5px; padding:0px; float:left; width:400px; height:98px;}
#top_right{margin:0px 3px 0px 0px; padding:0px; float:right; width:475px; height:102px;}
.top_contact{margin:0px; padding:0px; float:left; width:475px; height:66px;}
.top_contact ul{margin:0px 0px 0px 0px; padding:0px;}
.top_contact li{margin:10px 40px 0px 12px !important; padding:0px; float:left; list-style:none; font-family:Tahoma; font-size:12px; color:#494949; font-weight:bold; text-align:center; line-height:20px;}

.top_contact li:last-child{margin:10px 0px 0px 0px !important; padding:0px; float:left; list-style:none; font-family:Tahoma; font-size:12px; color:#494949; font-weight:bold; text-align:center; line-height:20px;}


.top_contact li a:link,.top_contact li a:active,.top_contact li a:visited{margin:0px; padding:0px; font-size:13px; color:#858585; text-decoration:none; font-weight:normal;}
.top_contact li a:hover{text-decoration:underline;}
#search_container{margin:0px 15px 0px 0px; padding:0px; float:left; width:475px; height:36px;}
.search_fld {margin:6px 0px 0px 100px; padding:0px 2px 0px 5px; float:left; width:330px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#848484; line-height:24px; height:24px; border:0px none; outline:none; background-color:transparent; border:0px none;}
.search_btn{margin:8px 10px 0px 0px; padding:0px; float:right; width:20px; height:20px;}

#topmenu{margin:0px 0px 0px 0px; padding:0px; float:left; width:960px; height:39px;}
#topmenu ul{margin:0px 0px 0px 8px; padding:0px; }
#topmenu li{margin:0px; padding:0px; float:left; list-style:none; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#828282; height:39px; line-height:39px; font-weight:bold;}
#topmenu a:link,#topmenu a:active,#topmenu a:visited{margin:0px; padding:0px 26px 0px 26px; color:#828282; text-decoration:none; line-height:39px; display:block; text-transform:uppercase;}
#topmenu a:hover{background:url(images/topmenu_hover_bg.png) repeat-x center top; color:#fff;}
.topmenu_seprator{margin:1px 0px 0px 0px; padding:0px; float:left; width:2px; height:37px; background:url(images/topmenu_seprator.png) no-repeat center top;}
#free_shipping{margin:10px 0px 0px 12px; padding:0px; float:left; width:943px; height:67px;}
#guarantee{margin:0px; padding:0px; float:left; width:209px; height:276px; display:block;}


#estore-footer {margin:0px; padding:0px; width:100%; background:url(images/footer_bg.jpg) repeat-x center top; height:92px;}
#footer_container{margin:0px auto; padding:0px; width:964px; height:92px;}
#footer_container2{margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; width:964px; height:92px; float:left; background:url(images/footer_bg.png) no-repeat center top;}

.footer_menu{margin:8px 0px 0px 0px; padding:0px; float:left; width:950px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; text-decoration:none; line-height:32px; display:block; text-align:center;}
.footer_menu a:link,.footer_menu a:active,.footer_menu a:visited{margin:0px 17px 0px 17px; padding:0px; color:#000000; text-transform:uppercase; text-decoration:none;}
.footer_menu a:hover{color:#000000; text-decoration:underline;}

.copy_rights{margin:-25px 0px 0px 0px; padding:0px; float:left; width:950px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#545454; text-decoration:none; text-align:right;}



div#v4-7{margin:0px !important; padding:0px !important;}
div.ttl.g-std{color:#000 !important; font-weight:bold !important; margin-top:10px !important; margin-top:10px !important;}
div.ttl.g-std a:link,div.ttl.g-std a:active,div.ttl.g-std a:visited{color:#000 !important; font-weight:bold !important; margin:10px 10px 10px 0px!important;
width:150px!important;}
td.details{margin:0px; padding:0px; float:left; width:190px !important;}
#gh-cart-n{margin:0px !important; padding:0px !important; right: 0px !important;}