<?xml version="1.0"?>
<!-- 
/**
* @category   Biztech
* @package    Biztech_Mobileassistant
* @author     ModuleCreator
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <modules>
        <Biztech_Mobileassistant>
            <version>0.1.6</version>
        </Biztech_Mobileassistant>
    </modules>
    <frontend>
        <routers>
            <mobileassistant>
                <use>standard</use>
                <args>
                    <module>Biztech_Mobileassistant</module>
                    <frontName>mobileassistant</frontName>
                </args>
            </mobileassistant>
        </routers>
        <layout>
            <updates>
                <mobileassistant>
                    <file>mobileassistant.xml</file>
                </mobileassistant>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <mobileassistant>
                <use>admin</use>
                <args>
                    <module>Biztech_Mobileassistant</module>
                    <frontName>mobileassistant</frontName>
                </args>
            </mobileassistant>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Biztech_Mobileassistant>
                            <title>Mobileassistant Module</title>
                            <sort_order>10</sort_order>
                        </Biztech_Mobileassistant>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mobileassistant>
                                            <title>Mobileassistant</title>
                                        </mobileassistant>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mobileassistant>
                    <file>mobileassistant.xml</file>
                </mobileassistant>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <mobileassistant>
                <class>Biztech_Mobileassistant_Model</class>
                <resourceModel>mobileassistant_mysql4</resourceModel>
            </mobileassistant>
            <mobileassistant_mysql4>
                <class>Biztech_Mobileassistant_Model_Mysql4</class>
                <entities>
                    <mobileassistant>
                        <table>mobileassistant</table>
                    </mobileassistant>
                </entities>
            </mobileassistant_mysql4>
        </models>
        <resources>
            <mobileassistant_setup>
                <setup>
                    <module>Biztech_Mobileassistant</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mobileassistant_setup>
            <mobileassistant_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mobileassistant_write>
            <mobileassistant_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mobileassistant_read>
        </resources>
        <blocks>
            <mobileassistant>
                <class>Biztech_Mobileassistant_Block</class>
            </mobileassistant>
        </blocks>
        <helpers>
            <mobileassistant>
                <class>Biztech_Mobileassistant_Helper</class>
            </mobileassistant>
        </helpers>
        <events>
            <sales_order_save_after>
                <observers>
                    <mobileassistant>
                        <class>mobileassistant/observer</class>
                        <method>sales_order_save_after</method>
                    </mobileassistant>
                </observers>
            </sales_order_save_after>
            <customer_register_success>
                <observers>
                    <mobileassistant_customer_notification_checkout>
                        <class>mobileassistant/observer</class>
                        <method>customerRegisterNotification</method>
                    </mobileassistant_customer_notification_checkout>
                </observers>
            </customer_register_success>
            <customer_register_checkout>
                <observers>
                    <customer_register_checkout>
                        <class>mobileassistant/observer</class>
                        <method>customerRegisterNotificationCheckout</method>
                    </customer_register_checkout>
                </observers>
            </customer_register_checkout>
        </events>
    </global>
</config>