<?xml version="1.0"?>

<config>
    <modules>
        <SaveTheMage_BulkUpdateAllProductPrices>
            <version>1.1.2</version>
        </SaveTheMage_BulkUpdateAllProductPrices>
    </modules> 

    <global>
        <blocks>
            <BulkUpdateAllProductPricesBlock1>
            	<class>SaveTheMage_BulkUpdateAllProductPrices_Block</class>
           </BulkUpdateAllProductPricesBlock1>  
        </blocks>
        <helpers>
            <BulkUpdateAllProductPricesHelper1>
                <class>SaveTheMage_BulkUpdateAllProductPrices_Helper</class>
            </BulkUpdateAllProductPricesHelper1>
        </helpers>  
        <models>
                <!-- ... -->
                <savethemagebulkupdateallproductprices>
                    <class>SaveTheMage_BulkUpdateAllProductPrices_Model</class>
                </savethemagebulkupdateallproductprices>   
                <!-- ... -->
            </models>	
	</global>    

	<admin>
		<routers>
		   <BulkUpdateAllProductPrices>
                <use>admin</use>
                <args>
                    <module>SaveTheMage_BulkUpdateAllProductPrices_AdminControllersHere</module>
                    <frontName>BulkUpdateAllProductPrices</frontName>                   
                    <modules>
		    <BulkUpdateAllProductPrices after="SaveTheMage_BulkUpdateAllProductPrices_AdminControllersHere">Mage_Adminhtml</BulkUpdateAllProductPrices>
		    </modules>
                </args>
		   </BulkUpdateAllProductPrices>		     
	     </routers>    	
	</admin>
	
    <adminhtml>
        <menu>
             <SaveTheMageMenu translate="title" module="BulkUpdateAllProductPricesHelper1">
                <title>SaveTheMage</title>
                <sort_order>201</sort_order>
                <children>
                    <BulkUpdateAllProductPricesChildItem1 translate="title" module="BulkUpdateAllProductPricesHelper1">
                        <title>Bulk Update All Product Prices</title>
                        <action>BulkUpdateAllProductPrices/BulkUpdateAllProductPrices</action>
                        <sort_order>1</sort_order>                        
                    </BulkUpdateAllProductPricesChildItem1>
	       </children>
             </SaveTheMageMenu>
        </menu>
	</adminhtml>    
    
</config>